<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Financial management</title>
</head>
<header class="header-bar">

</header>
<body>

    <table class="table-striped table-bordered" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Document</th>
            <th>Birth date</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.document }}</td>
            <td>{{ user.birth_date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>